<footer class="footer mt-auto py-1">
  <div class="container">
      <ul class="nav justify-content-center" *ngIf="type === 'usuario'">

          <li class="nav-recordatorios">
            <a class="nav-link" [routerLink]="['/recordatorios']" routerLinkActive="active">
              <i class="fas fa-lg fa-home"></i>
            </a>
          </li>

          <li class="nav-home">
              <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
                <i class="far fa-lg fa-address-book"></i>
              </a>
          </li>

          <li class="nav-config">
            <a class="nav-link" [routerLink]="['/config']" routerLinkActive="active">
              <i class="fas fa-lg fa-cog"></i>
            </a>
          </li>
      </ul>

  </div>
</footer>


