.mat-dialog-actions{
    display: flex;
    justify-content: center;
}
.mat-flat-button{
    margin-right: 10px;
}

p{
    font-size: 14px;
    margin-left: 16px;
}

.error-lib{
    align-content: center;
    
}