
.md-padding{
    align-content: right;
}
  
.button{
  bottom: 8%;
  align-items: flex-end;
  position: fixed;
  right: 4%;
}

.card{
  padding: 5%;
  align-self: auto;
  margin-left: 5%;
  border: 10px;
}
.container{
  max-width: 100%;
}
.form-group{
  padding-top: 10px;
}