<div class="login">
<mat-card class="example2-card">

  <div *ngIf="errMsj">
    <p style="color:red">Mail o Contraseña errónea</p>
  </div>
  
  <mat-form-field appearance="outline">
    <mat-label>Mail</mat-label>
    <input matInput placeholder="Mail" [(ngModel)]="usuario.mail">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña" [(ngModel)]="usuario.passw" [type]="hide ? 'text' :'password'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="onLogin()">Iniciar Sesion</button>

</mat-card>

<div>
  <a href="/recovery">
  Olvidaste tú contraseña?
  </a>
</div>

<div class="register">
  No tenés cuenta?
  <a href='/register'>
  Registrate acá
  </a>
</div>
</div>
