<!-- The content below is only a placeholder and can be replaced.
<mat-form-field>
    <mat-select [(value)]="libretas.provincia">
      <mat-option value="Cordoba">Cordoba</mat-option>
      <mat-option value="Villa Maria">Villa Maria</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="libretas.sexo">
      <mat-option value="Masculino">Masculino</mat-option>
      <mat-option value="Femenino">Femenino</mat-option>
    </mat-select>
  </mat-form-field>
  
  <ngx-charts-pie-chart *ngIf = "chartdata"
        [view]="view"
        [scheme]="colorScheme"
        [results]="countryData"
        [legend]="showLegend"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        (select)="onSelect($event)">
  </ngx-charts-pie-chart> -->