<div class="contenedor">
  <div class="fondo">
  </div> 
  <div *ngIf="isLoaded" class="nombre">
      {{saludo}} {{usuario.nombre}}!
  </div> 
</div> 

<div *ngIf="!hayLibrets&&isLoaded" class="NoLibreta">
  <mat-card class="example-card">
    <mat-card-content>
      <b>
      No tenés libretas registradas todavía! 
      Registralas con el botón "+"
      </b>
    </mat-card-content>
  </mat-card>
</div>


<div *ngFor="let estado of orderedByState" class="animated fadeInUp">
  <div class="card-general">
    <mat-divider></mat-divider>
      <div class="remember-title">{{titles[estado.title]}} </div>
        <mat-divider></mat-divider>

          <mat-card class="card" *ngFor="let value of estado.values">
          <mat-card-title class="nombre-hijo"><b>{{value.uss.nombre}}</b> necesita:</mat-card-title>
          <ul>
        <div *ngFor="let vacuna of value.vacunas"> 
          <mat-card-content class="vacuna">
            <i class="fas  fa-crutch"></i>
            {{vacuna.nombre}}
            <i class="fas fa-lg fa-caret-right" style="padding-left: 20px;" routerLink="/googlemap/{{vacuna.id}}"></i>
          </mat-card-content>
        </div>
      </ul>
      </mat-card>
  </div>
</div>

<button class="boton" *ngIf="!hayLibrets" style="background-color: #60C3FF" mat-fab routerLink="/nueva-libreta">
  <mat-icon>add</mat-icon>
</button>
  



