.barra{
    background: linear-gradient(to right, #567EF8 , #5EB9FE);
    display: flex;
}
.titulo{
    color: white;
    font-size: 25px;
    font-weight: 300;
    padding-left: 10px;
}
.back{
    color: white;
}