<mat-card class="example2-card">
    <div class="example2-card">
    
      <mat-form-field appearance="outline">
        <mat-label>Vacuna</mat-label>
        <mat-select [(ngModel)]="vid">
          <mat-option *ngFor="let vacuna of vacunas" [value]="vacuna.id">
            {{vacuna.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>DNI</mat-label>
        <input type="number" matInput placeholder="DNI" [(ngModel)]="dni">
        <mat-hint>Sólo números</mat-hint>
      </mat-form-field>
    
      <button mat-flat-button color="primary" (click)="onClick()">Buscar</button>
  
    </div>
    </mat-card>