.example-card {
    max-width: 320px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .Inventario {
    max-width: 320px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .boton{
    max-width: 100%;
  }

  ::ng-deep snack-bar-container.blue-snackbar {
    // background: rgb(25, 167, 44);
    background: #43A047;
  }
  
  ::ng-deep .blue-snackbar .mat-simple-snackbar {
    color: white;
  }
