/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~simplebar/dist/simplebar.css';
body{
    padding-bottom: 54px;
}

// LOADER

.loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    i{
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        font-size: 40px;
        color: blue;
    }
}